@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

:root {
     --blue: #287bff;
     --text-color1: #fff;
     --text-color2: #333;
     --bg-color-1: #fff;
     --bg-color-2: #9ff3f2;
     --bg-color-3: #dddf;
     --bg-color-4: #ccc;
     --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
     font-family: 'Poppins', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     border: none;
     text-decoration: none;
     text-transform: capitalize;
     transition: all .2s linear;
}

html {
     font-size: 67.5%;
     overflow-x: hidden;
     scroll-padding-top: 7em;
     scroll-behavior: smooth;
}

html::-webkit-scrollbar {
     width: 8rem;
}

html::-webkit-scrollbar-track {
     background: transparent;
}

html::-webkit-scrollbar-thumb {
     background: var(--blue);
}

body {
     background: var(--bg-color-1)
}

body.active {
     --text-color1: #fff;
     --text-color2: #eee;
     --bg-color-1: #333;
     --bg-color-2: #222;
     --bg-color-3: #000;
     --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

section {
     margin-top: 3rem;
     padding: 2rem 7%;
}

.btn {
     margin-top: 1rem;
     display: inline-block;
     padding: .7rem .5rem;
     font-size: 1.7rem;
     color: #fff;
     background: var(--blue);
     border-radius: .5rem;
     cursor: pointer;
}

.btn {
     letter-spacing: .2rem;
}

.header {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     background: var(--bg-color-1);
     box-shadow: var(--box-shadow);
     padding: 1.5rem 7%;
     z-index: 1000;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.header .logo {
     display: flex;
     justify-content: space-between;
     flex-wrap: nowrap;
     gap: 1.5rem;
     font-weight: bolder;
     font-size: 2rem;
     color: var(--text-color);
}

.header .logo img {
     width: 6rem;
     height: 6rem;
     margin-left: 0.5rem;
     border-radius: 50%;
}

.header .search-form {
     background: var(--bg-color-3);
     border-radius: .5rem;
     display: flex;
     align-items: center;
     height: 4.5rem;
     width: 50rem;
}

.header .search-form input {
     height: 100%;
     width: 100%;
     background: none;
     text-transform: none;
     font-size: 1.5rem;
     color: var(--text-color2);
     padding: 1rem;  
}

.header .search-form label {
     font-size: 2rem;
     margin-right: 1.5rem;
     cursor: pointer;
}

.header .search-form label:hover {
     color: var(--bg-color-2);
}

.header .icons div {
     height: 4.5rem;
     width: 4.5rem;
     line-height: 4.5rem;
     font-size: 2rem;
     border-radius: .5rem;
     margin-left: .5rem;
     background: var(--bg-color-3);
     color: var(--text-color2);
     cursor: pointer;
     text-align: center;
}

.header .icons div:hover {
     color: #fff;
     background: var(--blue);
}

#search-btn {
     display: none;
}

.header .navbar {
     position: absolute;
     top: 115%;
     right: 7%;
     background: var(--bg-color-1);
     border-radius: .5rem;
     box-shadow: var(--box-shadow);
     width: 25rem;
     transform: scale(0);
     transform-origin: top-right;
}

.header .navbar.active {
     transform: scale(1);
} 

.header .navbar a {
     display: block;
     margin: 1rem;
     padding: 1rem;
     font-size: 1.5rem;
     color: var(--text-color2);
     border-radius: .5rem;
}

.header .navbar a:hover {
     color: var(--text-color1);
     background: var(--blue);
     
}

.home {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     gap: 1.7rem;
     padding-top: .5rem;
}

.title-container .title {
     display: block;
     position: relative;
     color: var(--text-color2);
     text-align: center;
     padding-top: 8rem;
     font-size: 3rem;
}

.home .image {
     flex: 1 1 45rem;
}

.home .image img {
     width: 100%;
}

.aside {
     display: block;
     align-items: center;
     flex-wrap: wrap;
     gap: 1.7rem;
     padding-top: .5rem;
}

.aside .image img {
     width: 50%;
     border-radius: 50%;
     margin-left: 25%;
}

.aside .image h3 {
     text-align: center;
     font-size: 1.5rem;
     margin-top: 3rem;
}

.home .content {
     flex: 1 1 45rem;
}

.home .content h3 {
     color: var(--text-color2);
     font-size: 2.5rem;
}

.home .content p, 
.about-container p {
     color: var(--text-color2);
     font-size: 1.7rem;
     line-height: 1.7;
     padding: 1rem 0;
}


.about .about-detail {
     color: var(--text-color2);
     font-size: 1.5rem;
     line-height: 1.7;
     padding: 1rem 0;
}


.footer {
     background: var(--bg-color-3);
}

.footer .box-container {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
     grid-gap: 1.5rem;
}

.footer .box-container .box h3 {
     font-size: 2.5rem;
     color: var(--text-color2);
     padding: 1rem 0;
}

.footer .box-container .box a {
     display: block;
     font-size: 1.5rem;
     color: var(--text-color2);
     padding: 1rem 0;
}

.footer .box-container .box a i {
     padding-right: .5rem;
     color: var(--text-color3);
}

.footer .box-container .box a:hover i {
     padding-right: 2rem;
     color: var(--text-color3);
}

.footer .box-container .box p {
     text-align: center;
     flex-flow: 2rem;
}


/* media queries */

@media (max-width: 991px) {

     html {
          font-size: 55%;
     }

     .header {
          padding: 1.5rem 2rem;
     }

     section {
          padding-top: 1.5rem 2rem;
     }

     .header .navbar {
          right: 2rem;
     }

     .header .search-form {
          right: 2rem;
     }

}

@media (max-width: 768px) {
     .header {
          padding: 1.2rem 1.5rem;
     }

     .header .navbar {
          right: 2rem;
     }

     #search-btn {
         display: inline-block;
    }

     .header .search-form {
          position: absolute;
          top: 115%;
          right: 2rem;
          background: var(--bg-color-1);
          border-radius: .5rem;
          width: 90%;
          box-shadow: var(--box-shadow);
          transform: scale(0);
          transform-origin: top right;
     }

     .header .search-form.active {
          transform: scale(1);
     }

}


@media (max-width: 450px) {

     html {
          font-size: 50%;
     }

}





